/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Shades of grey color */
  --light-grey-color: #e9ecef;
  --grey-color: #868e96;
  --dark-grey-color: #495057;

  /* Shades of primary color */
  --light-primary-color: #ffe066;
  --primary-color: #fcc419;
  --dark-primary-color: #fab005;

  /* white color */
  --white-color: #ffffff;

  /* black color*/
  --black-color: #333;

  /* box shadow */

  --light-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  /* transition */
  --transition: all 0.3s;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 4.4rem;
}

button {
  background: transparent;
  outline: none;
  border: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}
