/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Shades of grey color */
  --light-grey-color: #e9ecef;
  --grey-color: #868e96;
  --dark-grey-color: #495057;

  /* Shades of primary color */
  --light-primary-color: #63e6be;
  --primary-color: #20c997;
  --dark-primary-color: #0ca678;

  /* white color */
  --white-color: #ffffff;

  /* black color*/
  --black-color: #333;

  /* box shadow */

  --light-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  /* transition */
  --transition: all 0.3s;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--light-grey-color);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 4.4rem;
}

/* Navbar Component */

.navbar {
  background-color: var(--white-color);
  padding: 1.6rem 3.2rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 2.4rem;
  color: var(--primary-color);
}

.brand span {
  font-weight: 500;
}

.toggle-btn {
  font-size: 2.4rem;
  color: var(--primary-color);
  transition: var(--transition);
  cursor: pointer;
}

.toggle-btn:hover {
  color: var(--dark-primary-color);
  transform: scale(1.1);
}

.navbar-links {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  /* display: none; */
}

.navbar-link {
  font-size: 1.4rem;
  color: var(--primary-color);
  transition: var(--transition);
  font-weight: 500;
}

.navbar-link:hover {
  color: var(--dark-primary-color);
}

.social-links {
  margin-top: 1.6rem;
  display: flex;
  gap: 1.4rem;
}

.social-link {
  font-size: 1.6rem;
  color: var(--black-color);
  transition: var(--transition);
}

.social-link:hover {
  color: var(--primary-color);
}

@media screen and (min-width: 768px) {
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .toggle-btn {
    display: none;
  }
  .navbar-links {
    flex-direction: row;
    margin-top: 0;
    gap: 4.8rem;
  }
  .social-links {
    margin-top: 0;
  }
}
